<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ flatpage.title }}</title>
    </head>
    <body style='direction: rtl'>
        {{ flatpage.content }}
    </body>
</html>